/* Estilos generales para la barra lateral */
.sidebar {
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 7rem; /* Ancho por defecto cuando está colapsado */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem 0;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  z-index: 50;
  transition: all 0.3s ease;
  overflow: hidden; /* Asegura que los textos no se desborden */
}

/* Cuando el sidebar está expandido */
.sidebar.expanded {
  width: 15rem; /* Ancho cuando se expande */
}

/* Los iconos deben ser visibles incluso cuando la barra está colapsada */
.icon {
  font-size: 2rem; /* Tamaño de los íconos */
  color: #d4af37; /* Color de los íconos */
}

.sidebar a:hover .icon {
  color: white;
}



/* Los textos de los íconos solo se muestran cuando está expandido */
.menu-text {
  margin-left: 1rem;
  font-size: 1rem;
  color: #fff;
  opacity: 1;
  transition: opacity 0.3s ease;
}

/* Cuando el sidebar está expandido, se muestran los textos */
.sidebar.expanded .menu-text {
  opacity: 1;
}

/* Lista de elementos */
.sidebar ul {
  padding-left: 1rem;
}

/* Botón de cerrar sesión */
.logout-button {
  margin-left: 3px;
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
}

/* Estilo para los ítems del menú */
.sidebar li {
 
  margin-bottom: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  transition: background-color 0.3s ease;
}

/* Efecto de hover y activación */
.sidebar li.active,
.sidebar li:hover {
  color: white;
  background-color: #262837;
}

.sidebar a, .sidebar button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

/* Estilos de los íconos */
.sidebar a {
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar a:hover {
  background-color: #d4af37;
  color: white;
}


